.vscode/
  
/**/.DS_Store
/**/.build

# package directories
lambda/custom/node_modules
lambda/custom/dist
jspm_packages

# Serverless directories
.serverless
lambda/node_modules_dev/*
lambda/node_modules/*
lambda/tmp/index.zip
lambda/node_modules_prod/*

lambda/custom/**/*.js
lambda/custom/**/*.map

scripts/scale-generator/output/*.mp3

!lambda/custom/**/webpack.config.js
